  div{
    font-family: Arial;
  }
  
  /*13a*/
  .flex-1{
    display: flex;
    flex-direction: row;
    height: 50px;
    margin-bottom: 30px;
  }

  .column-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100px;
    background-color: lightblue;
  }

  .column-2{
    width: 200px;
    background-color: lightpink;
  }

  .item-1{
    background-color: black;
    color: white;
  }


    /*13b*/
  .flex-2{
    display: flex;
    flex-direction: row;
    height: 50px;
    margin-bottom: 30px;
  }

  .col-1{
    background-color: lightpink;
    width: 100px;
  }

  .col-2{
    background-color: lightblue;
    width: 200px;
  }

  .row-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .row2-item{
    background-color: black;
    color: white;
  }

  /*13c, d & e*/
  .container{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    width: 400px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
  }

  .all-inboxes{
    font-size: 14px;
    color: rgb(120, 120, 120);
    margin-bottom: 20px;
  }

  .gmail-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
  }

  .sender-profile{
    margin-right: 10px;
  }

  .pfp{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    object-fit: cover;
  }

  .email-content{
    flex: 1;
  }

  .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }

  .name{
    font-size: 18px;
    font-weight: bold;
  }

  .time{
    font-size: 14px;
    color: rgb(120, 120, 120);
  }

  .subheader{
    font-weight: bold;
    margin-bottom: 5px;
  }

  .body{
    color: rgb(120, 120, 120);
  }

  /*13f & g*/
  .tweet{
    display: flex;
    flex-direction: row;
    width: 420px;
    margin-top: 20px;
    margin-left: 20px;
  }

  .user-pfp-column{
    margin-right: 10px;
  }

  .user-pfp{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    object-fit: cover;
  }

  .info-column{
    flex: 1;
  }

  .user-info{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
  }

  .user-name{
    font-weight: bold;
    margin-right: 5px;
  }

  .user-at{
    color: rgb(120, 120, 120);
  }

  .tweet-content{
    line-height: 20px;
    margin-bottom: 15px;
  }

  .video-preview{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(200, 200, 200);
    border-radius: 15px;
    overflow: hidden;
  }

  .thumbnail-column{
    width: 100px;
    height: 100px;
    background-color: rgb(220, 220, 220);
    margin-right: 10px;
  }

  .video-info-column{
    flex: 1;
  }

  .video-website{
    color: rgb(120, 120, 120);
    margin-bottom: 3px;
  }

  .video-content{
    line-height: 22px;
  }