/*9a*/
p{
  font-family: Arial;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
button{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.red-square{
  display:inline-block;
  width: 100px;
  height: 100px;
  background-color: red;
  margin-right: 20px;
  margin-bottom: 15px;
  vertical-align: top;
}

/*9b*/
.green-circle{
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: green;
  border-radius: 100px;
  vertical-align: top;
}

/*9c*/
.customer-feedback{
  width: 250px;
  border-width: 1px;
  border-style: solid;
}

/*9d*/
.youtube-music{
  width: 280px;
  background-color:rgba(0, 0, 0, 0.9);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 20px;
}

.ytmusic-install{
  color: white;
  margin-top: 15px;
}

.install-prompt{
  color: rgba(153, 153, 153, 0.9);
  font-size: 12px;
  width: 250px;
}

/*9f*/
.add-friends{
  margin-top: 30px;
  display: inline-block;
  width: 200px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  margin-left: 10px;
}

.pfp-1{
  object-fit: cover;
    width: 200px;
    height: 200px;
}

.friend-name{
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 0px;
}

.mutual-friends{
  font-size: 14px;
  margin-top: 5px;
}

.friend-button{
  background-color: rgb(36, 105, 255);
  color: white;
  border: none;
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 10px;
  cursor: pointer;
}

/*9g*/
.google-hp{
  width: 400px; 
  text-align: center;
}

.google-logo{
  width: 150px;
  text-align: center;
  object-fit: cover;
  margin-left: 10px;
  margin-right: 15px;
  margin-top: 50px;
  margin-bottom: 15px;
}
.search-2{
  border-radius: 30px;
  border: none;
  width: 350px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  margin-left: 20px;
  margin-bottom: 10px;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.gs-button{
  display: inline-block;
  font-size: 14px;
  background-color: rgba (200, 200, 200, 0.8);
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

