/*10e*/
p{
  margin-bottom: 0;
  margin-top: 0;
  font-family: Arial;
}

.grid{
  display: grid;
  grid-template-columns: 200px 200px 200px;
  column-gap: 20px;
}

.add-friends{
  margin-top: 30px;
  width: 200px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  margin-left: 10px;
}

/*friend picture*/
.pfp-1{
  object-fit: cover;
    width: 200px;
    height: 200px;
}

.friend-name{
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 8px;
}

/*mutusal friends row*/
.m-friends-row{
  display: grid;
  grid-template-columns: 35px 1fr;
  align-items: cemter;
  margin-left: 8px;
  margin-bottom: 10px;
}

.pfp-2{
  width: 30px;
  height: 30px;
  vertical-align: middle;
  object-fit: cover;
  margin-right: 4px;
  border-radius: 15px;
}

.mutual-friends{
  font-size: 14px;
  margin-top: 5px;
  vertical-align: middle;
}

.friend-button{
  background-color: rgb(36, 105, 255);
  color: white;
  border: none;
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 10px;
  margin-bottom: 15px;
  cursor: pointer;
}

