body{
  padding-bottom: 3000px;
}

.underlay{
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
}

.header{
  position: fixed;
  display: flex;
  left: 0;
  right: 0;
  top: 0;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;

  background-color: white;
  justify-content: center;
  align-items: center;
}

.user{
  display: flex;
  flex: 1;
  max-width: 500px;
  align-items: center;
}
.pfp{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 20px;
  margin-right: 15px;
}

.username{
  font-weight: bold;
  font-family: Arial;
  flex: 1;
}

.add-friend{
  background-color: rgb(68, 155, 255);
  color: white;
  border: none;
  height: 40px;

  border-radius: 6px;

  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  
  font-weight: bold;
}

.message{
  background-color: rgb(201, 201, 201);
  font-weight: bold;
  color: black;
  border: none;
  height: 40px;
  
  border-radius: 6px;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 20px;
  margin-right: 40px;
}