body{
  padding-bottom: 3000px;
}

.sidebar{
  background-color: green;
  color: white;
  position: fixed;
  right: 0px;
  bottom: 0px;
  top: 0px;
  width: 100px;
}

.overlay{
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal{
  width: 300px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: white;
  border-radius: 5px;
}

.modal-title{
  font-family: Arial;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 12px;
}

.modal-detail{
  font-family: Arial;
  margin-bottom: 12px;
}
