/*Uber*/
  .uber-b{
    background-color: black;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
      border: none;
    cursor: pointer;
    margin-right: 15px;
    transition: opacity 0.15s;
  }

  .uber-b:hover{
    opacity:0.7
  }

/*Amazon*/
  .amazon-b{
    background-color: rgb(255, 216, 20);
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
      border: none;
      border-radius: 25px;
    cursor: pointer;
  }

  .amazon-b:hover{
    background-color: rgb(214, 181, 16);
  }

/*GitHub*/
  .github-b{
    background-color: rgb(46, 174, 79);
    color: white;
      border: none;
      border-radius: 8px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow  0.15s;
  }
  
  .github-b:hover{
    box-shadow: 0px 5px 10px rgba(0,0,0, 0.2);
  }

/*Bootstrap*/
  .bootstrap-b1{
    background-color: rgb(121, 82, 179);
    color: white;
      border: none;
      border-radius: 2px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.15s;
  }

  .bootstrap-b1:hover{
    background-color: rgb(86, 53, 134);
  }

  .bootstrap-b2{
    background-color: white;
    color: rgb(121, 82, 179);
      border-color: rgb(121, 82, 179);
      border-radius: 2px;
      border-width: 1px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 9.5px;
    padding-bottom: 9.5px;
    cursor: pointer;
    transition: background-color 0.25s, color 0.25s;
  }

  .bootstrap-b2:hover{
    background-color: rgb(121, 82, 179);
    color: white;
  }

/*Linkedln*/
.link-b1{
  background-color: rgb(10, 102, 194);
  color: white;
    border: none;
    border-radius: 25px;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.25s;
}

.link-b1:hover{
  background-color: rgb(9, 77, 146);
}

.link-b2{
  background-color: white;
  color:rgb(10, 102, 194);
    border-color: rgb(10, 102, 194);
    border-width: 1px;
    border-radius: 25px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 9px;
  padding-bottom: 9px;
  cursor: pointer;
  transition: background-color 0.15s, border-width 0.15s, opacity 0.15s;
}

.link-b2:hover{
  background-color: rgba(243, 249, 255, 0.8);
  border-width: 2px;
  
}

  .amalink{
    color: rgb(0, 113, 133);
    cursor: pointer;
  }

  .amalink:hover{
    color: rgb(254, 183, 51);
  }
  
  .shoe{
    font-size: 30;
    font-weight: bold;
    color: black;
  }


  .price{
    color: rgb(0, 118, 0);
    font-weight: bold;
  }

  .add-cart{
    background-color: rgb(255, 216, 20);
    color: black;
    /*border*/
      border: none;
      border-radius: 25px;
      /*font*/
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    width: 100px;
    height: 35px;
    cursor: pointer;
    transition: background-color 0.15s;
  }

  .add-cart:hover{
    background-color: rgb(234, 195, 3);
  }

  .add-cart:active{
    opacity: 0.8;
  }

  .buy-now{
    background-color: rgb(255, 164, 28);
    color: black;
      border: none;
      border-radius: 25px;
      /*font*/
      font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    width: 100px;
    height: 35px;
    cursor: pointer;
  }

  .buy-now:hover{
    background-color: rgb(228, 148, 27);
  }
  .buy-now:active{
    opacity: 0.8;
  }

.next{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 5px;
  font-size: 16px;
}

.num{
  text-decoration: underline;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 16px
}

.stretch{
  background-color: green;
  border: none;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  transition: 
    padding-left 1s, 
    padding-right 1s, 
    padding-top 1s, 
    padding-bottom 1s;
}

.stretch:hover{
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.shadow-button{
  background-color: green;
  border: none;
  color: white;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 2px 5px 5px rgba(0,0,0,0.7);
  cursor: pointer;
}

.shadow-button:active{
  box-shadow: none;
}

.margin-padding{
  background-color: green;
  color: white;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition:
    padding-left 0.2s,
    padding-right 0.2s,
    margin-left 0.2s,
    margin-right 0.2s;
}

.margin-padding:hover{
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 5px;
  margin-right: 5px;
}
