body{
  height: 3000px;
}
.clothing{
  position: relative;
  display: inline-block;
}

.shirt{
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.discount{
  position: absolute;
  right: 0;
  top: 15px;
  background-color: black;
  color: white;
  font-family: arial;
  font-size: 16px;
  padding-bottom: 3px;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.lighten{
  position:absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-to-cart{
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: solid;
  border-width:1px;
}